
{% extends "parent.html" %}

{% block content %}

    <div> 


<form action="/waluty" name="przelicz" method="POST">
    Chce kupić:
    <select name="zczego">
        {%for option in options %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>

    kwota
    <input type="number" name="kwota" placeholder="Kwota" style="text-align:center;margin-right:5px;">

    otrzymasz:
    <input value="{{ wynik }}" type="number" id="wynik" placeholder="wynik" style="text-align:center" disabled> PLN

    <input type="submit" value="przelicz walutę" onclick="przelicz();">


    
    </form>
   </div>



{% endblock %}
